* {
margin: 0;
padding: 0;
color: gray;
}

textarea {
    vertical-align: top;
}

#header{
	width: 100%;
	background-size: 100%;
	background-image: url("../images/event_header.jpg");
	background-repeat: no-repeat;
	display: inline-block;
}

#logo{
	float: left;
	width: 250px;
	height: 150px;	
}

#logo img{
	width: 250px;
	height: 150px;
}

#search{
	display: none;
}

#login{
	padding-bottom: 10px;
	display: none;
}

#register{
	display:none;
}

#register_button, #login_button{
  width: 200px;
  color: #006bb3;
  background: #ffff80;
  font-weight: bold;
  font-size: 30px;
}

#register_button{
	float: right;
}

#login_button{
	float: right;
}

#tabs {
	margin: 0;
	overflow: hidden;
	padding: 0;
	position:relative;
	top:2px;
	z-index: 1;
}

#tabs li {
	display: block;
	list-style: none;
	margin: 0;
	margin-right: 1px;
	padding: 0;
	float: left;
}

#tabs li a {
	display: block;
	padding: 2px 10px;
	border: 2px solid #817bfc;
	border-bottom: 0 none;
	text-align: center;
	text-decoration: none;
}

#tabs li a:hover {
 background-color: #ffff80;
}

.tab-section {
	background:#d4efff;
	padding: 10px;
	border: 2px solid #817bfc;
}

#tabs li a.current {
	background: #d4efff;
	color: #000;
	border-bottom: 2px solid #d4efff;
}




#mainPage{
	max-width: 1200px;
	margin: 0 auto;
}

#page_buttons{
	text-align: center;
}

.pageClick{
	padding: 5px;
	margin: 3px;
	background-color: #ffff80;
}

.pageClick.current{
	background-color: #cce5ff;
}


