body{
	margin: 0 0 ;
}

#logo{
	width: 250px;
	height: 150px;
	
	
}

#logo img{
	width: 250px;
	height: 150px;
}

#header{
	display: inline-block;
}

#login{
	padding-bottom: 10px;
}
textarea {
    vertical-align: top;
}

#user_fields{
}